<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/home"></a>
  <h1 class="title"><%= t('nearby_store') %></h1>
</header>
<div class="content">
  <ul class="table-view">

    <% @stores.each do |store| %>
      <li class="table-view-cell media">
      <a class="navigate-right" href="/stores/<%= store.id %>/orders/new">
          <%= image_tag(File.join('smallpic',store.smallpic),height: '42', width: '42',class:'media-object pull-left') %>
          <div class="media-body">
            <%= store.name %>
            <p> <%= store.address %> </p>
          </div>
        </a>
      </li>
    <% end %>

  </ul>
</div>
