<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/home"></a>
  <h1 class="title"><%= t('pot') %></h1>
</header>
<div class="content">
  <ul class="table-view">

    <% @pots.each do |pot| %>
      <li class="table-view-cell media">
      <a class="navigate-right" href="/pots/<%= pot.id %>">
          <%= image_tag(File.join('smallpot',pot.pic),height: '42', width: '42',class:'media-object pull-left') %>
          <div class="media-body">
            <%= pot.name %>
            <p> <%= pot.suit %> </p>
          </div>
        </a>
      </li>
    <% end %>

  </ul>
</div>
