<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/home"></a>
  <h1 class="title"><%= @pot.name %></h1>
</header>
<div class="content">
  <center>
    <%= image_tag(File.join('bigpot',@pot.pic),height: '250', width: '300') %>
  </center>
  <h3><%= @pot.feature %></h3>
</div>
