<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/stores"></a>
  <h1 class="title"><%= t('order_info') %></h1>
</header>
<div class="content">
  <div class="board">
    <form method="post" action="<%= store_orders_path %>">
        <input type="text" name="phone" placeholder="<%= t('phone') %>">
        <input type="text" name="people" placeholder="<%= t('people') %>">
        <button class="btn btn-positive btn-block"><%= t('confirm_submit') %></button>
    </form>
  </div>
</div>
