<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/stores"></a>
  <h1 class="title"><%= t('operation_done') %></h1>
</header>
<div class="content">
  <div class="slide">
    <center>
      <%= image_tag("done.jpg", height: '450', width: '300') %>
    </center>
  </div>
</div>
