<header class="bar bar-nav header-bar">
  <h1 class="title"><%= @username %><%= t('haidilao') %></h1>
</header>
<div class="content">
  <div class="slide">
    <center>
      <%= image_tag("logo.jpg", height: '200', width: '300') %>
    </center>
  </div>
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
      <a class="push-right" href="/stores">
        <strong><%= t('order') %></strong>
      </a>
      </li>
      <li class="table-view-cell">
        <a class="push-right" href="/pots">
          <strong><%= t('pot') %></strong>
        </a>
      </li>
      <li class="table-view-cell">
        <a class="push-right" href="/levels/1">
          <strong><%= t('go_level') %></strong>
        </a>
      </li>
    </ul>
  </div>
</div>
