<header class="bar bar-nav header-bar">
  <h1 class="title"><%= t('haidilao') %></h1>
</header>
<div class="content">
  <center>
  <%= image_tag('login.jpg',height: '250', width: '300') %>
  </center>
  <a href="http://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=GLGRNxPvGgQxGvkH1bz9u7mx&redirect_uri=http%3A%2F%2Fvps.wengchichi.com%2Fcallback&scope=super_msg&state=eadfe44b7a3021b0f9dd456e7ed76998&display=page"> 
  <button class="btn btn-negative btn-block"> <%= t('baidu') %> </button> </a>
</div>
