<header class="bar bar-nav header-bar">
  <h1 class="title"><%= t('right') %></h1>
</header>
<div class="content">
  <center>
    <%= image_tag(File.join('biglevel',@level.pic),height: '250', width: '300') %>
  </center>
  <h3><%= @level.answer %></h3>
  <% if @level.id != 3 %>
    <a href="/levels/<%= @level.id + 1 %>" > <button class="btn btn-negative btn-block"> <%= t('go_next') %> </button> </a>
  <% else %>
    <a href="/succ" > <button class="btn btn-negative btn-block"> <%= t('go_succ') %> </button> </a>
  <% end %>
</div>
