<header class="bar bar-nav header-bar">
  <a class="icon icon-left-nav pull-left" href="/home"></a>
  <h1 class="title">Level <%= @level.id %></h1>
</header>
<div class="content">
  <button class="btn btn-block"><%= @level.question %></button>
  <a href="/levels/<%= @level.id %>/check?op=1" > <button class="btn btn-primary btn-block"> <%= @level.a %> </button> </a>
  <a href="/levels/<%= @level.id %>/check?op=2" > <button class="btn btn-positive btn-block"> <%= @level.b %> </button> </a>
  <a href="/levels/<%= @level.id %>/check?op=3" > <button class="btn btn-negative btn-block"> <%= @level.c %> </button> </a>
</div>
