<header class="bar bar-nav header-bar">
  <h1 class="title"><%= t('wrong') %></h1>
</header>
<div class="content">
  <center>
    <%= image_tag(File.join('biglevel',@level.pic),height: '250', width: '300') %>
  </center>
  <h3><%= @level.answer %></h3>
  <a href="/home" > <button class="btn btn-negative btn-block"> <%= t('go_home') %> </button> </a>
</div>
